<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo Checklist</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1 id="title">To do List</h1>
    <form class="create_todo" action="/create" method="post">
      <input type="text" name="item" placeholder="Add a todo..." autofocus>
      <button class="add" type="submit" name="submit">Add Item</button>
    </form>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
