<div class="the_list">
  <h3 class="notDone_header">To do</h3>
  {{#todos}}
  {{#completed}}
  {{/completed}}
  {{^completed}}
  <div class="notDone">
    <form id="{{id}}" action="/complete/{{id}}" method="post">
      <button class="check" type="submit" name="task" value="{{task}}">√</button>
    </form>
    <form action="/edit/{{id}}" method="post">
      <input class="item" type="text" name="item" value="{{item}}">
      <button class="edit" type="submit" name="submit">EDIT</button>
    </form>
    <a class="remove" href="/remove/{{id}}">X</a>
  </div>
  {{/completed}}
  {{/todos}}
  <h3 class="done_header">Completed todos</h3>
  {{#todos}}
  {{#completed}}
  <div class="done">
    <del><label class="completed">{{item}}</label></del>
  </div>
  {{/completed}}
  {{^completed}}
  {{/completed}}
  {{/todos}}
</div>
