* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  /*background-color: lightcyan;*/
  background-color: linear-gradient(lightcyan, lightskyblue)
}

#title {
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
text-shadow: 3px 3px 3px springgreen;
}

.create_todo {
  display: flex;
  justify-content: center;
}

.create_todo input {
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  border-bottom: 4px solid springgreen;
}

.create_todo button {
  background-color: springgreen;
  color: black;
  text-shadow: 2px 2px 2px cadetblue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.the_list {
margin-top: 50px;
}

.check {
  margin-right: -2px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.item {
  border: none;
  border-bottom: 2px solid deepskyblue;
  font-size: 18px;
  background-color: aliceblue;
  text-align: center;
  padding: 2px;
}

.edit {
  margin-left: -6px;
  margin-right: -4px;
  padding-left: 12px;
  padding-right: 12px;
}

.remove {
  margin-left: -4px;
}

button {
  background-color: deepskyblue;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  padding: 5px;
}

del {
  color: indianred;
}

.notDone {
  display: flex;
  margin-bottom: 10px;
}

.notDone a {
  text-decoration: none;
  margin-left: 3px;
  padding: 3px;
  background-color: indianred;
  color: white;
  border-radius: 3px;
}

.notDone label {
  text-decoration: underline;
}

.done_header {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
  text-shadow: 3px 3px 3px indianred;
}

.notDone_header {

  margin-bottom: 20px;
  font-size: 36px;
  text-align: center;
  text-shadow: 3px 3px 3px deepskyblue;
}

.done label{
  text-decoration: none;
}

.completed {
  font-size: 24px;
}
